li {
    padding: 5px;
    margin: 5px;
  }
  
  .update-form {
    padding: 5px;
    margin: 5px;
    /* background:  */
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #format-col {
    border-top: 6px solid #40A4F4;
    padding: 5px;
    /* margin: 5px; */
  }
  